@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: #2B283A;
  background-color: #2B283A;
  line-height: 1.25;
}

.main--container {
  width: 550px;
  background-color: #fff;
  margin: auto;
  margin-block: 5em;
}

.header--container {
  height: 55px;
  width: 100%;
  background-color: #F55A5A;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--container .header--title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.075em;
}

.content--container {
  padding-inline: 3.5em;
}

.content--container .card--container {
  margin-block: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.content--container .card--container .card--img-container {
  width: 150px;
  display: block;
}

.content--container .card--container .card--img-container .card--img {
  min-width: 150px;
  max-width: 100%;
  border-radius: 5px;
}

.content--container .card--container .card--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .4em;
}

.content--container .card--container .card--data .card--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .3em;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.content--container .card--container .card--data .card--location .card--country {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  font-size: 11px;
}

.content--container .card--container .card--data .card--location i {
  color: #F55A5A;
}

.content--container .card--container .card--data .card--location a {
  color: #918E9B;
  margin-left: 1em;
  font-size: 11px;
}

.content--container .card--container .card--data .card--location a:hover {
  color: #F55A5A;
  text-decoration: none;
}

.content--container .card--container .card--data .card--place-title {
  color: #2B283A;
  font-size: 25px;
}

.content--container .card--container .card--data .card--date {
  font-weight: 700;
  margin-top: 1em;
}

.content--container .card--container .card--data .card--description {
  margin-top: .5em;
}

.footer--container {
  background-color: #F55A5A;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--container > p {
  color: #fff;
  font-weight: 500;
  font-size: 10px;
}

.footer--container a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer--container a:hover {
  color: #2B283A;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */